 *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #ffffff;
}
.info {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.card{
    background: linear-gradient(135deg,#24221e, #dddce4);
    color: #fff;
}

.search input{
    width: 80%;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    cursor: pointer;    
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}


.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity ,.wind{
    font-size: 28px;
  margin: 0;
 
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 30px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
    color: red;
} 